
/* man 7 wofi */

window#window {
	background-color: #666;
	border-radius: 8px;
	color: #ccc;
	font: 16px monospace;
}

box#outer-box {
	margin: 4px;
}

entry#input {
	background-color: #333;
	border-radius: 0;
	border: none;
	box-shadow: none;
	color: #ccc;
	margin: 4px;
}

scrolledwindow#scroll {
	margin: 4px;
}

flowbox#inner-box {
	background-color: #333;
	padding: 8px 0;
}

#img {}

#text {}

flowboxchild#entry {
	outline: none;
	padding: 0;
}

/* #unselected */
.entry {
	padding: 4px 8px;
}

/* #selected */
#entry:selected {
	background-color: #666;
	color: #fff;
}

scrollbar {
	opacity: 1;
}
