
/* man 7 wofi */

window#window {
	background-color: #333;
	border-radius: 8px;
	color: #ccc;
	font: 16px monospace;
}

box#outer-box {
	margin: 4px 0;
}

entry#input {
	background-color: #333;
	border-radius: 0;
	border: none;
	box-shadow: none;
	color: #ccc;
	margin: 4px 8px;
}

scrolledwindow#scroll {
	margin: 4px 8px;
}

flowbox#inner-box {
	/* background-color: #333; */
}

flowboxchild#entry {
	outline: none;
	padding: 0;
}

.entry {
	padding: 4px 8px;
}

.entry#selected {
	background-color: #666;
	color: #fff;
}

scrollbar {
	opacity: 1;
}
