
[Desktop Entry]

Type=Application
Name=--chromium--profile--roshal-common
Icon=/home/user/.config/chromium/profile--roshal-common/Google Profile Picture.png
Exec=/usr/bin/chromium --profile-directory=profile--roshal-common %U
