
[Desktop Entry]

Type=Application
Name=--chromium--profile--roshal-coding
Icon=/home/user/.config/chromium/profile--roshal-coding/Google Profile Picture.png
Exec=/usr/bin/chromium --profile-directory=profile--roshal-coding -- %U
