
[Desktop Entry]

Type=Application
Name=--chromium--profile--roshal-python
Icon=/home/user/.config/chromium/profile--roshal-python/Google Profile Picture.png
Exec=/usr/bin/chromium --profile-directory=profile--roshal-python %U
