
[Desktop Entry]

Type=Application
Name=--chromium--service--puppeteer
Icon=/home/user/.config/chromium/profile--puppeteer/Google Profile Picture.png
Exec=/usr/bin/chromium --profile-directory=profile--puppeteer %U
