
[Desktop Entry]

# # /usr/share/applications/virtualbox.desktop

Type=Application
Name=--virtualbox
Icon=virtualbox
Exec=env QT_QPA_PLATFORM= virtualbox %U
