
[Desktop Entry]

# # /var/lib/snapd/desktop/applications/webstorm_webstorm.desktop

Type=Application
Name=--webstorm
Icon=/var/lib/snapd/snap/webstorm/current/bin/webstorm.png
Exec=env STUDIO_JDK=/usr/lib/jvm/java-11-openjdk/ webstorm %f
